*{
    margin:0px;
    padding:0px;
}
body {font-family: "Times New Roman", Georgia, Serif;}
.sticky {
  position: fixed;
  background-color: #3ca716;
  padding:10px 0px;
  top: -80px;
  width: 100%;
  margin-right: 250px;
}

.sticky + .content {
  padding-top: 60px;
}

.header{
    width: 100%;
    background-color: #00796B;
    color:white;
    top:0px;
    letter-spacing: 2px;
}
.header-content{
    width: 90vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-content .text{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.text p{
    margin-top: 8px;
}
.text h1{
    margin-right: 10px;
}

.text:hover  {
    color: rgb(210, 209, 209);
    cursor: pointer;
}

.social-media span{
    margin-right: 5px;
    text-decoration: none;
    color: white;
}
.social-media span:hover {
    color: rgb(225, 223, 223);
    cursor: pointer;
}
nav{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    background-color: #008374;
    height: 100px;
}
.nav-content{
    width: 100%;
    color: white;
}
.nav-content ul{
    width: 90%;
    margin: 0 auto;
    list-style: none;
}
.nav-content ul li{
    display: inline-block;
    padding: 10px 10px;
}

.nav-content ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 1px;
}
.nav-content ul li{
    position: relative;
}
.nav-content ul li::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: red;
    width: 0%;
    height: 1px;
    /* transition: all 0.5s ; */
}
.nav-content ul li:hover::before{
    width: 100%;
    transition: all 0.5s ;
}


.dropdown{
    position: relative;
}
.dropdown-content{
    position: absolute;
    display: none;
    width: 200px;
    top: 101%;
    background-color: white;
    color: black;
    padding: 10px 10px;
    margin-left: -10px;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    transition: all 0.5s;
    animation: animate 0.8s ;
}
@keyframes animate {
    0%{
        top: 115%;
        opacity: 0.5;
    }
    100%{
        top: 100%;
        opacity: 1;
    }
    
}
.dropdown:hover  .dropdown-content{
    display: block;
    flex-direction: column;
    transition: all 0.7s;
}
.dropdown-content ol li {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}
.dropdown-content ol li a{
    color: black;
    line-height: 0px;
    padding: 5px;
    text-align: left;
}

.check{
    display: none;
}
.check-btn{
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

@media (max-width:900px) {
    .social-media span label{
        display: none;
    }
    nav{
        height: 50px;
        color: white;
    }
    .nav-content{
        position: fixed;
        background-color: rgba(0, 0, 0, 0.908);
        height: 100vh;
        width: 400px;
        left: -100%;
        top:6%;
        padding-top: 20px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        transition: all 0.7s linear;
    }
    .nav-content ul li{
        display: block;
        padding: 10px 10px;
    }
    .dropdown-content{
        z-index: 1;
        left: 20%;
    }
    .check:checked ~.nav-content{
        left: 0%;
        transition: all 0.7s linear;
    }

}

